
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}


.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ensures a minimum card size */
  gap: 0.5em; /* Reduced space between cards */
  padding: 1em;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 250px;
  background-color: #fffbfb;
  border-radius: 1px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding :2%;
  
  color:black;
  text-align: center;
  
}

.card :hover{
  background-color: #6064b1;
  color: #ffffff;
}
.card .tradeImage{
  width:98%;
  height: 100%;
  border-radius:2%;
  padding:1px;

}
 .card .profitLoss{
  color: rgb(44, 72, 255);
  font-family:Georgia, 'Times New Roman', Times, serif, monospace;
  font-size: 1em;
  font-weight: bold;
  align-items: center;

  margin:5px auto;

}
.card .dateTime{
  margin:5px;
}

.card .cardTittle{
  font-size: 1.2em;
  font-weight: bold;
  align-items: center;
  text-align: center;
  padding: 2px;
  margin:5px auto;

}


