
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}


.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjusts dynamically */
  gap: 2.5em; /* Even spacing */
  padding: 3em 7em; 
}
@media (max-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Adjusts for medium screens */
  }
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Smaller cards on smaller screens */
  }
}

@media (max-width: 480px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr); /* Single column on very small screens */
  }
}


.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  background-color: #fffbfb;
  border-radius: 1px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding :2%;
  
  color:black;
  text-align: center;
  
}

.card:hover {
  box-shadow: 0 0 20px rgba(10, 73, 167, 0.7); /* Glowing effect */
  background-color: #f0f4ff; /* Lighter background on hover */
  transform: scale(1.02); /* Slight enlargement */
  transition: box-shadow 0.3s ease, background-color 0.3s ease, transform 0.3s ease; /* Smooth animation */
}
.card .tradeImage{
  width:98%;
  height: 100%;
  border-radius:2%;
  padding:1px;

}
.profit{
  color: rgb(44, 72, 255);
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 1em;
  margin-top: 0.5em; /* Reduced space above the profit/loss */
  margin-bottom: 0.5em; /* Reduced space below the profit/loss */
}

.loss {
  color: rgb(189, 45, 45);
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 1em;
  margin-top: 0.5em; /* Reduced space above the profit/loss */
  margin-bottom: 0.5em; /* Reduced space below the profit/loss */
}
.card .dateTime {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 0.9em;
  color: #666;
  margin-bottom: 0.5em; /* Reduced space below the date */ 
}

.card .cardTittle{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.5em; /* Reduced space below the title */
  color: #333;
}